
body {
  background-color: yellow;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  margin: 10px 10px 10px 10px;
  color: #444;
}

h1{
  font-family: "Merriweather", serif;
  font-size: 32px;
  padding: 35px;
}

div{
  background: blue;
  width: 500px;
  height: 400px;
  margin:  5%;
  padding: 10%;
}
div div{
  width: 200px;
  height: 200px;
  background: red;
}
div div p{
  color: black;
  padding: 40px 40px;
}
